#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.custom-toast {
    min-width: 280px;
    margin-bottom: 12px;
    padding: 14px 18px;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    opacity: 0;
    transform: translateX(100%);
    transition: all 0.4s ease;
}

.custom-toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast-success {
    background: #198754;
}

.toast-error {
    background: #dc3545;
}